* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

body, html {
  width: 100%;
  height: 100%;
  background: #fff;
}

.navigation-top{
  display: flex;
  align-items: center;
  height: 5.8rem;
  padding: 0 2rem;
}
.navigation-left{
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.navigation-left .search{
  width: 16rem;
  line-height: 2.4rem;
  border-radius: 2.4rem;
  border:1px solid #41688c;
  padding: 0 2.2rem;
  color: #7a95ae;
  font-size: 1.2rem;
  position: relative;
}
.navigation-left .search img{
  position: absolute;
  right: 1.2rem;
  top: 0.3rem;
}
.navigation-bottom{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: right;
}
.navigation-bottom div{
  color: #41688c;
  font-weight: bolder;
  line-height: 2rem;
  font-size: 1.5rem;
  display: inline-block;
  padding: 0 0.5rem;
  cursor: pointer;
}
.navigation-bottom div a{
  color: #41688c;
}
.navigation-bottom div.select{
  background: #ffc822;
  border-radius: 2rem;
}
.navigation-bottom img{
  width: 0.9rem;
  height: 0.6rem;
}